gitlab.env.yml*
**/*.log
**/*.html
**/*.xml
**/*.lcov
**/__pycache__/**
site-packages
**/*.egg-info/**
**/.venv/**
**/build/**
**/generated/**
.coverage
htmlcov
docs/*.rst
docs/*.dot
!docs/index.rst
!docs/api.rst
!docs/api2.rst
!docs/installation.rst
!docs/getting_started.rst
!docs/configuration.rst
!docs/design.rst
!docs/test.rst
!docs/limitations.rst